.pathway {
	color: #2D3246;
	font-size: 11pt;
	font-family: Tahoma;
	font-weight:bold;
	padding-right:5px;
	}

.pageContent {
	color: #5E5E5E;
	font-size: 9pt;
	font-family: Tahoma;
	padding-left:30px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	
}


.company {
	font-size: 12pt;
	font-family: Tahoma;
	color:#ffffff;
	font-weight:bold;
	
}
.slogan {
	font-size: 9pt;
	font-family: Tahoma;
	color: #FFFFFF;
}
.copyright {
	color: #CBD7E3;
	font-size: 9pt;
	font-family: Tahoma;
	text-align: center;
}
/*main menu*/
.tmenu {
	font-size: 8pt;
	font-family: Tahoma;
	color: #191428;
	text-decoration: underline;
	text-align: left;
	
}


.tmenua {
	font-size: 8pt;
	font-family: Tahoma;
	color: #191428;
	text-align: left;
	text-decoration: none;
	
		
}

.t1 {
padding-left:5px;
padding-right:8px;
text-align: center;

}

/*submenu*/
.smenua {
	font-size: 8pt;
	color: #ffffff;
	font-family: Tahoma;
	text-align: left;
	text-decoration: none;
	
	
}
.smenu {
	font-size: 8pt;
	color: #ffffff;
	font-family: Tahoma;
	text-align: left;
	text-decoration: underline;
	
	
}

.s1 {
padding-right:10px;

}

/*bottom*/
.bmenu {
	font-size: 9pt;
	font-family: Tahoma;
	color: #ffffff;
	text-decoration:underline;
	text-align: center;
}
.bmenua {
	font-size: 9pt;
	font-family: Tahoma;
	color: #ffffff;
	text-decoration:none;
	text-align: center;
	
}
.b1 {
	padding:5px;
	text-align: center;
	
}