Options +Indexes
RemoveHandler .html
RemoveType .html
AddType text/html .html
Satisfy any
Order Deny,Allow
Allow from 212.227.112.228
Deny from all
AuthType Basic
AuthName "Access to /logs"
AuthUserFile /kunden/homepages/45/d398885755/htpasswd
Require user p67453127
